@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Rubik", sans-serif;
  background: #eee;
  margin: 0;
  padding: 0 0.75rem 0 0.75rem;
}
label,
select {
  display: block;
  margin: 0.75rem 0 0.25rem 0;
}
input,
select {
  font-family: "Rubik", sans-serif;
}
.button-creator {
  display: flex;
  justify-content: center;
}
.button-creator form {
  background: #fff;
  border-radius: 7px;
  padding: 1rem;
  margin: 1rem 1.5rem 0 .75rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.button {
  margin: 1rem .75rem 0 0;
}
[data-cssText] {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
}
[data-cssText] span {
  padding: 0.25rem;
}
